{% extends "base.html" %}

{% block content %}
<div class="container">
    <h3>This is the contact page:</h3>
    <hr>

    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="senderName">Your Name</label>
          <input type="text" class="form-control" id="senderName" name="senderName" placeholder="eg John Doe">
        </div>
        <div class="form-group">
            <label for="subject">Subject</label>
            <input type="text" class="form-control" id="subject" name="subject" placeholder="eg Purchase Error">
          </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
          </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

     
</div>


{% endblock %}