{% extends "base.html" %}

{% block content %}
<div class="container">
<h3>Register a business</h3>
<hr>

<form method="POST">
{% csrf_token %}

<h5>You are logged in with: </h5>
<h5 name="user_email">{{user.email}}</h5>
<br>
<div class="form-group">
    <label for="businessName">Business Name</label>
    <input type="text" class="form-control" id="businessName" placeholder="eg Village Shop" name="businessName">
  </div>

<div class="form-group">
<label for="businessType">Type of business</label>

<select id="businessType" class="form-control" name="businessType">
    <option selected>Choose...</option>
    <option>Service Provider</option>
    <option>Commerce</option>
</select>
</div>

<div class="form-group">
  <label for="inputProvince">Province</label>
  <select id="inputProvince" class="form-control" name="inputProvince">
    <option selected>Choose...</option>
    <option>Eastern Cape</option>
    <option>Free State</option>
    <option>Gauteng</option>
    <option>KwaZulu-Natal</option>
    <option>Limpopo </option>
    <option>Mpumalanga</option>
    <option>Northern Cape</option>
    <option>North West</option>
    <option>Western Cape</option>
  </select>
</div>

<div class="form-group">
<div class="form-group">
  <label for="inputCity">City</label>
  <input type="text" class="form-control" id="inputCity" name="inputCity">
</div>
</div>

<div class="form-group">
  <label for="inputAddress">Address</label>
  <input type="text" class="form-control" id="inputAddress" placeholder="eg 1234 Main St" name="inputAddress">
</div>

<div class="form-group">
  <label for="inputAddress2">Address additional</label>
  <input type="text" class="form-control" id="inputAddress2" placeholder="eg Apartment, studio, or floor" name="inputAddress2">
</div>

<div class="form-group">
<label for="inputPostalCode" class="control">Postal Code:</label>
<input type="text" class="form-control" id="inputPostalCode" name="inputPostalCode">
</div>

<div class="form-group">
    <label for="logo">Logo:</label>
    <input type="file" class="form-control-file" id="logo" name="inputLogo">
</div>

<button type="submit" class="btn btn-primary">Register Me</button>

</div>

</form>
<br>
</div>


{% endblock %}