{% extends "base.html" %}

{% block content %}

<div class="container">


  <h1>About TeamTrees</h1>

  <div class="jumbotron jumbotron-fluid">
  <div class=" container">
    <h1 class="display-4">Business solutions in your pocket</h1>
    <p class="lead">As the world is growing more and more toward a technology-driven economy, businesses must advertise online to reach customers, and in some cases even sell products/deliver services online. With TeamTreas, you can do all this in one application. We will market your products/services on our website, so that customers can easily find you, and we will also advertise your business on all available platforms, such as Facebook, Instagram and Google. We handle your online presence so that you can focus on perfecting your product/service.
</p>
  </div>
</div>

{% endblock %}
