{% extends "base.html" %}

{% block content %}
{% load socialaccount %}
{% load static %}

  <div id='homeDivTop'>
      <br>
      <div class="jumbotron jumbotron-fluid">
  <div class=" container">
    <h1 class="display-4">Welcome to TeamTrees!</h1>
  </div>
</div>
    

  </div>
<div class="card" style="width: auto; margin-left: 0;">
  <img src="../static/images/Home.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h1 class="card-text">Grow your business from startup to scale-up with TeamTrees.</h1>
    <a href="{% url 'explore:about' %}" class="btn btn-primary btn-lg btn-block active" role="button"
aria-pressed="true">About</a>
  </div>
  </div>
       <hr>
       <div class="card" style="width: auto;">
  <img src="../static/images/online.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h1 class="card-text">Take your small business online with TeamTrees. Explore businesses already on TeamTrees</h1>
    <a href="/explore" class="btn btn-primary btn-lg btn-block active" role="button"
aria-pressed="true">Explore</a>
  </div>
  

  <div class="card" style="width: auto;">
    <img
      src="../static/images/steps.jpg"
      class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text"><h1>Follow these steps to take your business online:</h1>
      <ol><h4>
        <li> Login using a google email</li>
        <li>Register your business</li>
        <li>Add products to your business</li>
        <li>Share the link to your <strong>free</strong> online store on social media</li>
    </ol></h4>
  </div>
  </div>

  {% if user.is_authenticated %}
    <h5>You are logged in</h5>
  {% else %}
  <a href="{% url 'businesses:profile' %}" class="btn btn-primary btn-lg btn-block active" role="button" aria-pressed="true">Login</a>
  {% endif %}

{% endblock %}
