{% extends '../base.html' %}
{% load static %}


{% block content%}

<div class="container" id="basic_container">

  <div class="jumbotron jumbotron-fluid">
    <div class=" container">
      <h1 class="display-4"> {{business.businessname}} </h1>
      <hr>
      <p class="lead">
      <p>
        {{business.businessname}} can be found at {{business.address}} or at {{business.address2}}
      <p> The owner is {{business.user.username}}</p>
      </p>
      <hr>

    </div>
  </div>
  <button><a href="{% url 'postman:write' recipients=business.user.username %}">Send {{business.businessname}} a
      message</a></button>
  <br><br>

  {% if request.user == business.user %}
  <a class="btn btn-warning" href="{% url 'businesses:bdelete' pk=business.pk %}">Delete</a>
  <a class="btn btn-primary" href="{% url 'businesses:bupdate' pk=business.pk %}">Update</a>

  <br><br>
  <a href="{% url 'businesses:add_product_to_business' pk=business.pk %}"
    class="btn btn-primary btn-lg btn-block active">Register a product</a>
  <h1>
    Products:
  </h1>
  {% for product in products%}
  <h1><a href="{% url 'explore:product_detail' pk=business.pk slug=product.name %}">{{product.name}}</a></h1>
  {% endfor %}
  {% endif %}
  <br>
</div>
{% endblock %}