{% extends '../base.html' %}
{% load static %}


{% block content%}

<div class="container" id="basic_container">

<div class="jumbotron jumbotron-fluid">
  <div class=" container">
    <h1 class="display-4"> {{business.businessname}} </h1>
    <hr>
    <p class="lead">    <p>
    {{business.businessname}} can be found at {{business.address}}
    <p> The owner is {{business.user.username}}</p>
    </p>
    <hr>
   
  </div>
</div>

    <button><a href="{% url 'postman:write' recipients=business.user.username %}">Send {{business.businessname}} a message</a></button>
    <br><br>

    {% if request.user == business.user %}
    <a class="btn btn-warning" href="{% url 'businesses:bdelete' pk=business.pk %}">Delete</a>
    <a class="btn btn-primary" href="{% url 'businesses:bupdate' pk=business.pk %}">Update</a>

    <br><br>
    <form action="{% url 'businesses:product_list' %}" method="GET">
      {% csrf_token %}>
         
      <button type="submit" class="btn btn-primary" id="viewProducts"  name="viewProducts" value={{business.businessname}}>View Products</button>
      <div>

  </form>
    {% endif %}
    <br>
</div>

{% endblock %}